<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link th:replace="fragments/layout :: bootstrap">
</head>
<body>
<div th:replace="fragments/layout :: navbar"></div>
    <div class="container mx-auto">
        <div class="vstack gap-2 col-md-5 mx-auto">
            <div class="text-center">
                <h1><strong>Oops!</strong></h1>
                <h3 th:text="${'Error ' + status}" class="mb-0"></h3>
                <h3 th:text="${error}" class="mb-3"></h3>
            </div>
            <div class="hstack gap-2 mx-auto">
                <a href="/" class="btn btn-success">Return Home</a>
                <a href="mailto:haroonmubasher11@gmail.com" class="btn btn-secondary">Contact Support</a>
            </div>
        </div>
    </div>
</body>
</html>