<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Reset Password Confirmation</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
<img src="/images/BipSyncLogo.png" alt="Logo" class="logo-img">

<div class="login-container">
  <header>
    <h1>Reset Your Password</h1>
  </header>
  <div th:if="${message}" class="success-message">
    <p th:text="${message}"></p>
  </div>
  <div th:if="${error}" class="error-message">
    <p th:text="${error}"></p>
  </div>
  <form name="resetPasswordConfirmForm" th:action="@{/reset-password-confirm}" method="post" onsubmit="return validateForm()">
    <div id="validationMessage"></div>

    <div class="input-group">
      <span class="fa fa-lock icon"></span>
      <label> New Password: <input type="password" name="password"/> </label>
    </div>
    <div class="input-group">
      <span class="fa fa-lock icon"></span>
      <label> Confirm Password: <input type="password" name="confirmPassword"/> </label>
    </div>
    <div><input type="submit" value="Reset Password"/></div>
    <input type="hidden" name="resetToken" th:value="${resetToken}" />
  </form>
  <footer>
    <p>Remember your password? <a href="/login">Sign In</a></p>
  </footer>
</div>
<script>
  function validateForm() {
    var password = document.forms["resetPasswordConfirmForm"]["password"].value;
    var confirmPassword = document.forms["resetPasswordConfirmForm"]["confirmPassword"].value;
    var validationMessage = document.getElementById("validationMessage");

    validationMessage.innerHTML = ""; // Clear previous messages

    if (password === "") {
      validationMessage.innerHTML = "Please enter a new password";
      validationMessage.style.display = "block";
      return false;
    }

    if (password !== confirmPassword) {
      validationMessage.innerHTML = "Passwords do not match. Please try again.";
      validationMessage.style.display = "block";
      return false;
    }

    return true;
  }
</script>
</body>
</html>
