<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Reset Password</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<img src="/images/BipSyncLogo.png" alt="Logo" class="logo-img">

<div class="login-container">
  <header>
    <h1>Reset Your Password</h1>
  </header>
  <div th:if="${error}" class="error-message">
    <p th:text="${error}"></p>
  </div>
  <div th:if="${message}" class="success-message">
    <p th:text="${message}"></p>
  </div>
  <form name="resetPasswordForm" th:action="@{/reset-password}" method="post" onsubmit="return validateForm()">
    <!-- Inline Validation Message -->
    <div id="validationMessage"></div>

    <div class="input-group">
      <span class="fa fa-envelope icon"></span>
      <br><br><br><br>
      <label> Email Address: <input type="email" name="email"/> </label>
    </div>
    <div class="g-recaptcha" data-sitekey="6Lc53kgpAAAAAOtwFJURSFKF5eq0O8mdDWI2KjqG" id="recaptcha"></div>
    <div><input type="submit" value="Reset Password"/></div>
  </form>
  <footer>
    <p>Remember your password? <a href="/login">Sign In</a></p>
    <p>No recovery mail? <a href="mailto:haroonmubasher11@gmail.com">Contact Support</a></p>
  </footer>
</div>
<script>
  function validateForm() {
    var email = document.forms["resetPasswordForm"]["email"].value;
    var validationMessage = document.getElementById("validationMessage");

    validationMessage.innerHTML = "";

    if (email === "") {
      validationMessage.innerHTML = "Please enter your email address";
      validationMessage.style.display = "block";
      return false;
    }

    // Check if the Turing test is completed
    var recaptchaValue = grecaptcha.getResponse();

    if (recaptchaValue.length === 0) {
      validationMessage.innerHTML = "CAPTCHA verification failed. Please try again.";
      validationMessage.style.display = "block";
      return false;
    }

    return true;
  }
</script>
</body>
</html>
